 <article class="recipe">
                <img src="{{imageUrl}}" alt="{{title}}">
                <h3>{{title}}</h3>
                <p>{{ingredients}}</p>
                <a href="/items/{{_id}}/details">Read More</a>
            </article>