 <div class="product-item">
    <img
        src="{{imageUrl}}" alt="{{model}}">
    <h3>{{brand}} {{model}}</h3>
    
        <h2>${{price}}</h2>
        <p>CPU: {{cpu}}</p>
        <p>GPU: {{gpu}}</p>
        <p>Screen: {{screensize}}</p>
    
        <p>${{price}}</p>
    
    <a href="/items/{{_id}}/details" class="btn">View Details</a>
</div>